<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AbacusLab.DataExtractionTool.Implementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AWSECommerceServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding3">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding4">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding5">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding6">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding7">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding8">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding9">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding10">
                    <security mode="Transport" />
                </binding>
                <binding name="AWSECommerceServiceBinding11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
            <endpoint address="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding1"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortCA" />
            <endpoint address="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding2"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortCN" />
            <endpoint address="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding3"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortDE" />
            <endpoint address="https://webservices.amazon.es/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding4"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortES" />
            <endpoint address="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding5"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortFR" />
            <endpoint address="https://webservices.amazon.in/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding6"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortIN" />
            <endpoint address="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding7"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortIT" />
            <endpoint address="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding8"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortJP" />
            <endpoint address="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding9"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortUK" />
            <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding10"
                contract="AmazoneService.AWSECommerceServicePortType" name="AWSECommerceServicePortUS" />
        </client>
    </system.serviceModel>
    <userSettings>
        <AbacusLab.DataExtractionTool.Implementation.Properties.Settings>
            <setting name="AmazonAccessKey" serializeAs="String">
                <value>AKIAIYHNWRPBKLK6OUFQ</value>
            </setting>
            <setting name="AmazonSecretAccessKey" serializeAs="String">
                <value>B+HBDSQFRu0Uc9FtQhtwGtu0AMgFlKOYwK/qSYRB</value>
            </setting>
            <setting name="AmazonAssociateTag" serializeAs="String">
                <value>wwwcodaromane-20</value>
            </setting>
        </AbacusLab.DataExtractionTool.Implementation.Properties.Settings>
    </userSettings>
</configuration>